
name: Deploy HTML to S3

on:push
 jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code from repo
        uses: actions/checkout@v4

      - name: configure AWS Credentials
        uses: aws-action/configure-aws-credentials@4
        with:
          AWS_S3_BUCKET: static-website-demo-p6
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ap-south-1
